/**
 * CSS styles for HouseDraft
 * https://housedraft.games/
 */

body {
  background-color: lightgreen;
  border: 0;
  font-family: "DejaVu Sans", Verdana, "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}


/* Site banner */
header {
  background-color: #111;
  color: white;
  padding: 2px 0.5em;
}

header h1 a {
  color: inherit;
  text-decoration: none;
}

header nav {
  float: right;
  margin-top: 0.1em;
}

/* Make the links look a bit like tabs. */
header nav a {
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  text-decoration: none;
}

header nav a:not(.same_page_link) {
  color: yellow;
}

/*
Space out the links from each other.
The first-of-type is the leftmost of the grouped links; not the <h1> link.
 */
header nav a:not(:first-of-type) {
  margin-left: 1em;
}

header h1 {
  display: inline;
  font-size: 100%;
}

header .same_page_link {
  background-color: lightgreen;
  border-color: lightgreen;
}

#settings {
  background-color: #ccc;
  border-bottom: 1px solid #111;
  line-height: 3em;
  padding: 0.5em 1em;
  text-align: right;
}

#settings span {
  margin-left: 2em;
  white-space: nowrap;
}


/* Page body */
main {
  padding: 0 1em;
  vertical-align: top;
}

.column {
  border: 0;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.column h2,
.column h3 {
  color: darkgreen;
  font-size: 125%;
  padding: 1px;
}

.column h2 {
  background-color: #dcdcdc;
  outline: 1px solid #000;
}

.column h3 {
  background-color: #ececec;
}

#col1 {
  width: 70%;
}

#col2 {
  width: 30%;
}

.region {
  border: 0;
  margin: 0;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}

.listing {
  margin: 0.5em;
  text-align: left;
}

.button_set {
  line-height: 200%;
  text-align: center;
}

/*
#players is the part of the page that contains all of the information that
directly relates to the players in the tournament:  the player list, the
pairings, and the standings.  If you need to use players' names to display it,
then it probably belongs in #players.  Note that #player_list, the section
that contains the list of players who have registered for the tournament, is a
subsection of #players.
 */
#players {
  margin-top: 0.5em;
  outline: 1px solid #000;
  padding: 0 0 0.25em 0;
}

#players h2 {
  line-height: 225%;
  margin-bottom: 0;
}

#players h2,
#players h3 {
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
}

/*
Cues that the sections can be expanded and collapsed.
 */
#players h2.collapsed:before,
#players h3.collapsed:before {
  content: "+ ";
}
#players h2.expanded:before,
#players h3.expanded:before {
  content: "− ";
}

/*
Visually signal which rounds have already been completed by shrinking their
headings.
 */
#players h2.completed {
  font-size: 95%;
  line-height: 130%;
}
#players h3.completed {
  font-size: 85%;
  line-height: 120%;
}

/*
Hide the controls for rounds that have been completed.
 */
.round.completed .button_set {
  display: none;
}

#players h2 a,
#players h3 a {
  color: inherit;
  text-decoration: none;
}

#players table {
  border-collapse: collapse;
}

#players table caption {
  font-style: italic;
}

#players table th {
  text-align: center;
}

#players table th,
#players table td {
  border: 0;
  margin: 0;
  padding: 0.5em;
}

#players table tbody tr:nth-of-type(even) {
  background-color: #bfed91;
}

#players table td.stat {
  text-align: right;
}

/*
Prevent lengthy player names from breaking the page display.
Hyphenation doesn't actually seem to work, but it would be the ideal
solution, so I'm leaving it here in case it starts working someday.
For a discussion of wrapping and breaking text in HTML, see:
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Text/Wrapping_Text
*/
#registration_list li,
#players table td,
.prevent_long_words {
  overflow-wrap: anywhere;
  hyphens: auto;
}

/* Give the player list a little space --
this helps make the "Add" line look better too. */
#player_list li {
  line-height: 140%;
}

#player_list a,
#player_list .ftn_control {
  font-size: smaller;
  margin-left: 1em;
}

/* Try to fit the text field and the button within the constraints of a line.
By default, modern browsers show these elements at different sizes.
This code attempts to normalize them. */
#new_player_item input,
#new_player_item button {
  border-radius: 0.25em;
  border-width: 1px;
  padding: 1px 0.6em;
}

/* This stops some weirdness in Firefox where the button's background is
transparent when you hover over it. */
#new_player_item button:hover {
  background-color: buttonface;
}

/* We add or remove this class from the "main" element depending on
whether the checkbox is checked or unchecked. */
main:not(.show_points) .points {
  display: none;
}

/* We add or remove this class from the "main" element depending on
whether the checkbox is checked or unchecked.  Note that we don't want to
hide dropped players from the player list when the box is unchecked, just
from the standings lists. */
main.hide_dropped_players_from_standings .standings .dropped {
  display: none;
}

.points {
  font-size: smaller;
}

#seating {
  text-align: left;
}

/* Hide the notice about editing completed rounds until it's needed, and make it
obvious when it is. */
.completed_round_notice {
  color: #900;
  font-style: italic;
  text-align: center;
}
.round:not(.completed) .completed_round_notice {
  display: none;
}

/* .underway is a class to apply to the "main" element when registration has finished and a tournament is underway */

/* Once the tournament is underway, you can no longer "remove" a player and must "drop" them. */
main.underway #player_list .remove {
  display: none;
}

/* A player can't drop from the tournament if it hasn't started yet.  At that point, you just de-register them. */
main:not(.underway) #player_list .drop {
  display: none;
}

/* When a player drops, keep their name in the list but strike it through. */
#player_list .dropped .player_name {
  text-decoration: line-through;
}

/* Don't show the drop link for a player who has already dropped. */
#player_list .dropped .drop {
  display: none;
}

/* Don't show the reinstate link by default... */
.reinstate {
  display: none;
}

/* ...but do show it for a player who has dropped. */
main.underway #player_list .dropped .reinstate {
  display: initial;
}

.standings .dropped {
  font-style: italic;
}

/* Enhanced number fields in the pairings table. */
.number_field_set {
  white-space: nowrap;
}

.number_field_set input[type=number] {
  text-align: center;
}

.number_field_set button {
  font-size: 125%;
}

/* I hate using non-standard features, but this feature isn't on a standards
track and I think it's pretty important.  The space wasted by the duplicate
buttons is pretty significant, not to mention that it makes the interface more
confusing. */
.number_field_set input[type=number]::-webkit-outer-spin-button,
.number_field_set input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number_field_set input[type=number] {
  -moz-appearance:textfield;
}



/* Clock */
#clock {
  padding: 1em 0;
  margin-bottom: 1em;
}

#time {
  font-size: 300%;
}

.over {
  background-color: red;
}

.low {
  background-color: yellow;
}

#clock.over #time_ok,
#clock:not(.over) #overtime {
  display: none;
}

/* Keep this input field from touching the start/stop buttons */
input#minutes {
  margin-bottom: 3px;
}


/* Announcements */
#message textarea {
  background-color: lightgreen;
  border: 1px dotted #111;
  font-family: Verdana, sans-serif;
  font-size: 150%;
  padding: 0.25em;
  width: 100%;
}


/* Dialogs */
#overlay_back {
  background: rgba(30%, 30%, 30%, 0.7);
  bottom: 0;
  display: none;  /* initially */
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

#dialog_box {
  background: rgba(100%, 100%, 100%, 1);
  border-radius: 0.5em;
  left: 20%;
  max-height: 98%;
  overflow-y: auto;
  padding: 0;
  position: absolute;

  /* This is a placeholder value; it will be overwritten with JS depending
  on the variable height of each dialog box as it's created. */
  top: 10%;

  right: 20%;
}

/* The block elements immediately inside the dialog. */
#dialog_box > * {
  margin: 0;
  padding: 0.5em;
}

#dialog_box h2,
#dialog_box button {
  background-color: darkgreen;
  border: 2px solid #fff;
  border-radius: 0.5em;
  color: #fff;
  font-size: 125%;
}

#dialog_box button {
  padding: 0.25em 1em;
}

.dialog_buttons {
  margin-top: 3em;
  text-align: right;
}

.dialog_buttons:not(:hover) button:focus,
.dialog_buttons button:hover {
  text-decoration: underline;
}


/* General */
input[type=number] {
  font-size: 125%;
  width: 2em;
}

input[type=checkbox] {
  font-size: 200%;
  vertical-align: middle;
}

select {
  font-size: 125%;
  width: 3.5em;
}

.hidden {
  display: none;
}


/*
Pages other than the home page.

We're referring to these broadly as "help" pages, which is sort of accurate but
maybe not the perfect designation for them.

Note that the Sample Hand Generator has its own CSS file.
 */
main.help {
  margin: auto;
  max-width: 45em;
}

.help h3 {
  border-top: 2px dashed #999;
  margin-top: 2em;
  padding-left: 0.1em;
  padding-top: 0.3em;
}

.help h4 {
  border-top: 1px dashed #999;
  margin-top: 2em;
  padding-left: 0.1em;
  padding-top: 0.3em;
}

.help :target:before {
  color: #fff;
  content: "\2794  ";
  font-size: 130%;
  text-shadow: 0.1em 0.1em 0.1em #000;
}

/* Monospaced text is weirdly small unless we increase it manually. */
kbd, samp, tt {
  font-size: 135%;
}


/* About page */
dt {
  font-weight: bold;
  margin-top: 1em;
}

dd {
  margin-left: 0;
  margin-top: 1em;
}

.number_of_rounds_table,
.number_of_rounds_table th,
.number_of_rounds_table td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.4em;
  text-align: right;
}

.number_of_rounds_table {
  float: right;
  margin: 1em;
}

/* Instructions page */
#main_instr li {
  margin: 1em 0;
}

.notes_link {
  font-size: smaller;
  white-space: nowrap;
}

#all_notes_links {
  font-size: smaller;
  text-align: right;
}

dl.indented,
dl.indented dd {
  margin-left: 2em;
}

dl.indented dt:before {
  content: "\21B3 ";
}
