/*
shg.css
Sample Hand Generator for MtG and other card games.
https://housedraft.games/shg/
*/

#controls {
  float: left;
  margin-right: 2em;
  width: 20em;
}

textarea {
  max-width: 100%;
}

button {
  font-size: 110%;
  margin-right: 1em;
  margin-bottom: 0.3em;
}

input[type=number] {
  width: 2.5em;
}

hr {
  clear: both;
}

li {
  margin-bottom: 1em;
}

.card {
  display: inline-block;
  width: 6em;
  height: 9em;
  color: #4b4b4b;
  border: 1px solid #4b4b4b;
  border-radius: 0.5em;
  padding: 0.6em;
  margin-right: 1em;
  margin-bottom: 1em;
  vertical-align: top;
  overflow-wrap: anywhere;
  hyphens: auto;
}

.card:hover {
  cursor: pointer;
}

.land { font-weight: bold; }
.white { color: #fff; }
.blue { color: #00f; }
.black { color: #000; }
.red { color: #f00; }
.green { color: #090; }
